<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--script src="//code.jquery.com/jquery-1.10.2.js"></script-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#mydatepicker" ).datepicker();
  });
  </script>


  </head>
  <body>

<div class="mylogin">
  <center><h1>Sign up</h1></center>
    <hr class="colorgraph">

      <% 2.times{resource.shipping_addresses.build} %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <div class="col-sm-10">
          <%= f.text_field :fname  ,  class: 'form-control' , :placeholder=>'Enter the First Name' , required: true %>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
        <div class="col-sm-10">
          <%= f.text_field :lname  ,  class: 'form-control' , :placeholder=>'Enter the Last Name' , required: true %>
        </div>
      </div>
      <br><br><br>


      <div class="field form-group">
        <div class="col-sm-10">
          <%= f.text_field :birth_date , :id => "mydatepicker" ,class: 'form-control' , required: true  %>
        </div>
      </div>
      <br><br><br>

       <div class="field form-group">
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true  ,  class: 'form-control' , :placeholder=>'Enter the Email Id' , required: true%>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
        <div class="col-sm-10">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" ,  class: 'form-control' , :placeholder=>'Enter the Password' , required: true %>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control' , :placeholder=>'Enter the Confirmation Password' , required: true  %>
      </div>
      </div>
      <br><br><br>

      <div class="field form-group">
          <div class="col-sm-10">
             <%= f.number_field :mobile_no , class: 'form-control' , :placeholder=>'Enter the Mobile Number' , required: true%>
          </div>
      </div>
      <br><br><br>

      <%= f.fields_for :shipping_addresses do |addr| %>
        <hr>
          <%= render "shipping_addresses/form" , :f => addr %>
        </hr>
      <% end %>

      <div class="actions form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <%= f.submit "Sign up" , class: "btn btn-primary btn-block btn-lg" %>
        </div>
      </div>
      <br><br><br>
    <% end %>
  </hr>
  <hr class = "colorgraph">
  <div class="col col-offset-5">
    <%= render "devise/shared/links" %>
  </div>
  
 
  </hr>
</div>
</body>

</html>