<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @shipper_detail.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @shipper_detail.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shipper_detail.email %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @shipper_detail.mobile_no %>
</p>

<

<%= link_to 'Edit', edit_shipper_detail_path(@shipper_detail) %> |
<%= link_to 'Back', shipper_details_path %>
