
<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--script src="//code.jquery.com/jquery-1.10.2.js"></script-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#mydatepicker" ).datepicker();
  });
  </script>


  </head>
  <body>
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <h3>Customer Information</h3>
      <div class="field form-group">
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true  ,  class: 'form-control' , :placeholder=>'Enter the Email Id' , required: true%>
        </div>
      </div>
      <br><br><br>

 <div class="field form-group">
        <div class="col-sm-10">
          <%= f.text_field :fname  ,  class: 'form-control' , :placeholder=>'Enter the First Name' , required: true %>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
        <div class="col-sm-10">
          <%= f.text_field :lname  ,  class: 'form-control' , :placeholder=>'Enter the Last Name' , required: true %>
        </div>
      </div>
      <br><br><br>
        <div class="field form-group">
        <div class="col-sm-10">
          <%= f.number_field :mobile_no , :placeholder=>'Enter the mobile number', class: 'form-control' , required: true  %>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
        <div class="col-sm-10">
          <%= f.text_field :birth_date , :id => "mydatepicker" ,class: 'form-control' , required: true  %>
        </div>
      </div>
      <br><br><br>
      <h3>Customer Addresses</h3><br>
  <%= f.fields_for :addresses do |addr| %>
        <hr>
          <%= render "addresses/form" , :f => addr %>
        </hr>
      <% end %>
        <hr>
          <h3>New Order</h3><br>
         <%= f.fields_for :orders do |ord| %>
            <% @order = Order.new  %>
            <% @all_products =Product.all %>
            <% @order_line = @order.item_lines.build %>
               <%= render "orders/form_new_customer_with_order" , :f => ord %>
         <% end %>
      </hr>
    <div class="actions form-group">
        <div class="col-sm-offset-3 col-sm-3">
          <%= f.submit "Create Customer" , class: "btn btn-primary btn-block btn-lg" %>
        </div>
      </div>
      <br><br><br>


  
<% end %>

</body>
</html>
