<p id="notice"><%= notice %></p>
<div class="jumbotron">
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @customer.mobile_no %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @customer.birth_date %>
</p>
</div>
<%#= link_to 'Edit', edit_customer_path(@customer) %> |
<%#= link_to 'Back', customers_path %>
