

<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= form_for(@order) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <br><br><br>
      
      <script type="text/javascript">        
          $(document).ready(function(){ 
            document.getElementById("getaddresses").disabled = true;
            
            $(".showproduct").hide();
              
            $("#customeremail").on('keyup' , function(event){

                document.getElementById("getaddresses").disabled = false;
               $("#customeremail").autocomplete({
                    source: "/orders/autocomplete_email"
               });
            });
            $("#getaddresses").click(function(){
              email = document.getElementById("customeremail").value;
                    if (email=='') 
                    {
                       sweetAlert("Oops...", "Please Enter Email Id", "error");
                    } 
                    else
                    {
                      $.ajax({
                        type: "get",
                        url: " /orders/show_addresses" ,
                        data: 'email='+email , 
                        success: function(data){

                        
                        } ,
                        error: function (data) {
                          sweetAlert("Oops...", "Please Enter Valid Email Id", "error");
                          document.getElementById("customeremail").value="";
                        }
                      }); 
                    }               
            });
              
            $("#product_name").on('keyup' , function(event){

               $("#product_name").autocomplete({
                    source: "/orders/autocomplete_product"
               });
            });


            $("#getproduct").click(function(){
              product_name = document.getElementById("product_name").value;  

                if(product_name=='')
                {
                    sweetAlert("Oops...", "Please enter product name", "error");
                }
                else
                {
                  $.ajax({
                    type: "get",
                    url: " /orders/show_product" ,
                    data: 'product_name='+product_name , 
                    success: function(data){}
                  }); 
                }
                
                document.getElementById("product_name").value="";
                $(".showaddress").show();
            });

              $("#new_customer_true").click(function(){
                document.getElementById("getaddresses").disabled = true;
                //document.getElementById("product_ids").value="";

                $("#existing_customer_true").prop('checked', false);
                document.getElementById("customeremail").value="";
                document.getElementById("customeremail").readOnly = true;
                document.getElementById("customeremail_new").readOnly = false;

                document.getElementById('customer_block').style.display = "block";
               
                document.getElementById("order_customer_attributes_email").setAttribute("required", "true"); 
                document.getElementById("order_customer_attributes_fname").setAttribute("required", "true"); 
                document.getElementById("order_customer_attributes_lname").setAttribute("required", "true"); 
                document.getElementById("order_customer_attributes_mobile_no").setAttribute("required", "true"); 
                document.getElementById("mydatepicker").setAttribute("required", "true"); 

                document.getElementById("order_address_attributes_city").setAttribute("required", "true"); 
                document.getElementById("order_address_attributes_district").setAttribute("required", "true"); 
                document.getElementById("order_address_attributes_state").setAttribute("required", "true"); 
                document.getElementById("order_address_attributes_country").setAttribute("required", "true"); 
                document.getElementById("order_address_attributes_pincode").setAttribute("required", "true"); 

                                            
                $(".customer_form").show();
                $(".showaddress").hide();
              });
              $("#existing_customer_true").click(function(){

                //document.getElementById("product_ids").value="";
                document.getElementById('customer_block').style.display = "";
                $("#new_customer_true").prop('checked', false);
                document.getElementById("customeremail_new").value="";

                document.getElementById("customeremail_new").readOnly = true;
                document.getElementById("customeremail").readOnly = false;

                document.getElementById("order_customer_attributes_email").removeAttribute("required"); 
                document.getElementById("order_customer_attributes_fname").removeAttribute("required"); 
                document.getElementById("order_customer_attributes_lname").removeAttribute("required"); 
                document.getElementById("order_customer_attributes_mobile_no").removeAttribute("required"); 
                document.getElementById("mydatepicker").removeAttribute("required"); 

                document.getElementById("order_address_attributes_city").removeAttribute("required");
                document.getElementById("order_address_attributes_district").removeAttribute("required");
                document.getElementById("order_address_attributes_state").removeAttribute("required");
                document.getElementById("order_address_attributes_country").removeAttribute("required");
                document.getElementById("order_address_attributes_pincode").removeAttribute("required");


                $(".customer_form").hide();
                $(".showaddress").show();
              });
              $(".customer_form").hide();
              document.getElementById("customeremail").readOnly = true;
              document.getElementById("customeremail_new").readOnly = true;
            });
          function checkValidation()
          {
            var product_ids = document.getElementById("product_ids").value;

            if (product_ids=='') {

                 sweetAlert("Sorry...", "Please select products", "warning");
                 return false;
            }

            var new_cust_email = document.getElementById("customeremail_new").value;
            var new_cust_confirm_email = document.getElementById("order_customer_attributes_email").value;

            if (document.getElementById("new_customer_true").checked == true) 
            {
                if (new_cust_email=='') 
                {
                  sweetAlert("Sorry...", "Enter new customer email id", "warning");
                  return false;
                }
                else if (new_cust_email != new_cust_confirm_email) 
                {
                  sweetAlert("Sorry...", "Please check both email field", "warning");
                  return false;
                }
            }
            else if(document.getElementById("existing_customer_true").checked == true)
            {
              var cust_email = document.getElementById("customeremail").value;

              if (cust_email=='') 
              {
                sweetAlert("Sorry...", "Please select existing customer and address", "warning");
                return false;
              }
              
            }
          }

      </script>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">
                   <%= radio_button_tag "existing_customer" , true %>
                </span>
                <%= f.email_field :customer_id ,class: 'form-control' , :placeholder=>'Enter the existing customer email id' , id: 'customeremail' %>
              </div>     
            </div>
            <div class="col-sm-3">
                <%= button_tag "Show addresses" , type: 'button' , id: 'getaddresses' ,class: 'form-control btn btn-primary' %>
            </div>
            <br><br><br>

            <div class="showaddress">
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">
                   <%= radio_button_tag "new_customer" , true %>
                </span>
                  <%= f.email_field "customer_id" ,class: 'form-control' , :placeholder=>'Enter the new customer email id' , id: 'customeremail_new' %>
              </div>
            </div>

            <br><br><br>
            
          <div class="customer_form" id="customer_block"> 
                      
            <%= f.fields_for :customer do |c| %>
                <%= render "customerform" , f: c %>

            <% end %>
            <%= f.fields_for :address do |a| %>
              <hr>       
                <h3>Customer Address</h3><br>
                <%= render "addresses/form" , f: a %>
              </hr>                
            <% end %>
          </div>
          <br><br><br>  

         

          <div class="field form-group">
            <div class="col-sm-6">
              <%= text_field_tag  "product_name" ,nil,class: 'form-control' , :placeholder=>'Enter the product name' , id: 'product_name' %>
            </div>
            <div class="col-sm-3">
                <%= button_tag "Select" , type: 'button' , id: 'getproduct' ,class: 'form-control btn btn-primary' %>
            </div>
          </div>
           <br><br><br>

          <div class="showproduct jumbotron">
              <%= hidden_field_tag "product_ids" ,nil , :multiple => true  %><br><br>
          </div>
       <br><br><br>  

      <div class="field form-group">
        <div class="col-sm-6">
          <%= f.number_field :order_no ,class: 'form-control' , :placeholder=>'Enter the Order Number' , required: true%>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
        <div class="col-sm-6">
          <%= f.number_field :tracking_no ,class: 'form-control' , :placeholder=>'Enter the Tracking number' , required: true%>
        </div>
      </div>
      <br><br><br>

      <div class="field">
        
          <%= f.hidden_field :delivery_date,  value: Time.now + 7.days %>
      </div>

      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.text_field :order_value ,class: 'form-control' ,  :placeholder=>'Enter the Order Value' , required: true %>
         </div>
          </div>
          <br><br><br>


      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.text_field :amount ,class: 'form-control' ,   :placeholder=>'Enter the Amount' , required: true%>
         </div>
          </div>
          <br><br><br>
        <div class="field form-group">
            <%=  f.label :delivery_type  , class: 'col-sm-3 control-label'%><br><br>
            <div class="col-sm-6">
              <%= f.radio_button :delivery_type, "Is Express Delivery" ,required: true %>  Is Express Delivery<br>
              <%= f.radio_button :delivery_type, "Is customer Pickup" ,required: true %>  Is customer Pickup
          </div>
        </div>
        <br><br>
       <div class="actions form-group">
            <div class="col-sm-offset-3 col-sm-3">
              <%= f.submit "Create Order"  ,class: "btn btn-success btn-block btn-lg" , onclick: "return checkValidation()" %>
            </div>
          </div> 
          
    <% end %>
  </body>
</html>
