

<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= form_for(@order) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <br><br><br>
      
      <script type="text/javascript">        
            $(document).ready(function(){ 

                      $(".showproduct").hide();
                      
                    $("#customeremail").on('keyup' , function(event){

                       $("#customeremail").autocomplete({
                            source: "/orders/autocomplete_email"
                       });
                    });
                    $("#getaddresses").click(function(){
                      email = document.getElementById("customeremail").value;  
                        $.ajax({
                            type: "get",
                            url: " /orders/show_addresses" ,
                            data: 'email='+email , 
                            success: function(data){                             
                            }
                        }); 
                    });
                      
                    $("#product_name").on('keyup' , function(event){

                       $("#product_name").autocomplete({
                            source: "/orders/autocomplete_product"
                       });
                    });


                    $("#getproduct").click(function(){
                      product_name = document.getElementById("product_name").value;  
                        $.ajax({
                            type: "get",
                            url: " /orders/show_product" ,
                            data: 'product_name='+product_name , 
                            success: function(data){                             
                            }
                        }); 
                        document.getElementById("product_name").value="";
                         $(".showaddress").show();
                    });

                      $("#new_customer_true").click(function(){
                          $("#existing_customer_true").prop('checked', false);
                            document.getElementById("customeremail").value="";
                            document.getElementById("customeremail").readOnly = true;
                            document.getElementById("customeremail_new").readOnly = false;

                            document.getElementById("order_customer_attributes_email").readOnly = false;
                            document.getElementById("order_customer_attributes_fname").readOnly = false;
                            document.getElementById("order_customer_attributes_lname").readOnly = false;
                            document.getElementById("order_customer_attributes_mobile_no").readOnly = false;
                            document.getElementById("mydatepicker").readOnly = false;

                            document.getElementById("order_customer_attributes_addresses_attributes_0_city").readOnly = false;
                            document.getElementById("order_customer_attributes_addresses_attributes_0_district").readOnly = false;
                            document.getElementById("order_customer_attributes_addresses_attributes_0_state").readOnly = false;
                            document.getElementById("order_customer_attributes_addresses_attributes_0_country").readOnly = false;
                            document.getElementById("order_customer_attributes_addresses_attributes_0_pincode").readOnly = false;

                            // document.getElementById("order_customer_attributes_addresses_attributes_1_city").readOnly = false;
                            // document.getElementById("order_customer_attributes_addresses_attributes_1_district").readOnly = false;
                            // document.getElementById("order_customer_attributes_addresses_attributes_1_state").readOnly = false;
                            // document.getElementById("order_customer_attributes_addresses_attributes_1_country").readOnly = false;
                            // document.getElementById("order_customer_attributes_addresses_attributes_1_pincode").readOnly = false;


                         $(".customer_form").show();
                          $(".showaddress").hide();
                      });
                      $("#existing_customer_true").click(function(){
                          $("#new_customer_true").prop('checked', false);
                          document.getElementById("customeremail_new").value="";
                          document.getElementById("customeremail_new").readOnly = true;
                          document.getElementById("customeremail").readOnly = false;

                          document.getElementById("order_customer_attributes_email").readOnly = true;
                          document.getElementById("order_customer_attributes_fname").readOnly = true;
                          document.getElementById("order_customer_attributes_lname").readOnly = true;
                          document.getElementById("order_customer_attributes_mobile_no").readOnly = true;
                          document.getElementById("mydatepicker").readOnly = true;
                          

                          document.getElementById("order_customer_attributes_addresses_attributes_0_city").readOnly = true;
                          document.getElementById("order_customer_attributes_addresses_attributes_0_district").readOnly = true;
                          document.getElementById("order_customer_attributes_addresses_attributes_0_state").readOnly = true;
                          document.getElementById("order_customer_attributes_addresses_attributes_0_country").readOnly = true;
                          document.getElementById("order_customer_attributes_addresses_attributes_0_pincode").readOnly = true;

                          // document.getElementById("order_customer_attributes_addresses_attributes_1_city").readOnly = true;
                          // document.getElementById("order_customer_attributes_addresses_attributes_1_district").readOnly = true;
                          // document.getElementById("order_customer_attributes_addresses_attributes_1_state").readOnly = true;
                          // document.getElementById("order_customer_attributes_addresses_attributes_1_country").readOnly = true;
                          // document.getElementById("order_customer_attributes_addresses_attributes_1_pincode").readOnly = true;

                            $(".customer_form").hide();
                            $(".showaddress").show();
                      });
                        $(".customer_form").hide();
                      document.getElementById("customeremail").readOnly = true;
                      document.getElementById("customeremail_new").readOnly = true;


            });
      </script>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">
                   <%= radio_button_tag "existing_customer" , true %>
                </span>
                <%= f.text_field :customer_id ,class: 'form-control' , :placeholder=>'Enter the existing customer email id' , id: 'customeremail' %>
              </div>     
            </div>
            <div class="col-sm-3">
                <%= button_tag "Show addresses" , type: 'button' , id: 'getaddresses' ,class: 'form-control btn btn-primary' %>
            </div>
            <br><br><br>

            <div class="showaddress">
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">
                   <%= radio_button_tag "new_customer" , true %>
                </span>
                  <%= f.text_field "customer_id" ,class: 'form-control' , :placeholder=>'Enter the new customer email id' , id: 'customeremail_new' %>
              </div>
            </div>

            <br><br><br>
            
          <div class="customer_form"> 
                      
            <%= f.fields_for :customer do |c| %>
                <%= render "customerform" , f: c %>
            <% end %>
          </div>

          <br><br><br>

          
          <div class="field form-group">
            <div class="col-sm-6">
              <%= text_field_tag  "product_name" ,nil,class: 'form-control' , :placeholder=>'Enter the product name' , id: 'product_name' %>
            </div>
            <div class="col-sm-3">
                <%= button_tag "Select" , type: 'button' , id: 'getproduct' ,class: 'form-control btn btn-primary' %>
            </div>
          </div>
           <br><br><br>
          <div class="showproduct jumbotron">
              <%= hidden_field_tag "product_ids" ,nil , :multiple => true %><br><br>
          </div>

           
            
          <%# @all_products.each do |product| %>
              <%#= hidden_field_tag "h_#{product.id}" , product.price %>
          <%# end %>
      <!--div class="field form-group">
        <%#= f.fields_for :item_lines do |ab| %>
        <%#= ab.label "All Products" , class: 'col-sm-2 control-label' %><br><br>
        <div class="col-sm-6">
         <%#= collection_select(:item_lines, :id  , @all_products , :id, :product_name , {:required => true} , {:multiple => true , class: 'form-control'}) %> 
          <%#= ab.collection_select(:item_lines, :id , @all_products , :id, :product_name , {:required => true} , {:multiple => true , class: 'form-control'}) %> 
          </div> 
        <%# end %>   
      </div>
      <br><br><br><br>

        <font color="blue"><strong><p id="myHeader">Please Select Products</p></strong></font-->
       <br><br><br>  

      <div class="field form-group">
        <div class="col-sm-6">
          <%= f.number_field :order_no ,class: 'form-control' , :placeholder=>'Enter the Order Number' , required: true%>
        </div>
      </div>
      <br><br><br>

      <div class="field form-group">
        <div class="col-sm-6">
          <%= f.number_field :tracking_no ,class: 'form-control' , :placeholder=>'Enter the Tracking number' , required: true%>
        </div>
      </div>
      <br><br><br>

      <div class="field">
        
          <%= f.hidden_field :delivery_date,  value: Time.now + 7.days %>
      </div>



      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.text_field :order_value ,class: 'form-control' ,  :placeholder=>'Enter the Order Value' , required: true %>
         </div>
          </div>
          <br><br><br>


      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.text_field :amount ,class: 'form-control' ,   :placeholder=>'Enter the Amount' , required: true%>
         </div>
          </div>
          <br><br><br>


        <div class="field form-group">
            <%=  f.label :delivery_type  , class: 'col-sm-3 control-label'%><br><br>
            <div class="col-sm-6">
              <%= f.radio_button :delivery_type, "Is Express Delivery" ,required: true %>  Is Express Delivery<br>
              <%= f.radio_button :delivery_type, "Is customer Pickup" ,required: true %>  Is customer Pickup
          </div>
        </div>
        <br><br>

     

       <div class="actions form-group">
            <div class="col-sm-offset-3 col-sm-3">
              <%= f.submit "Create Order" , class: "btn btn-primary btn-block btn-lg" %>
            </div>
          </div> 
          <div class="actions form-group">
            <div class="col-sm-offset-1 col-lg-2 col-lg-4">
          <%= link_to root_path , :style=>'color:#FFFFFF;', class: "btn btn-danger" do%>
              <i class="glyphicon glyphicon-remove-sign"></i>Cancel
          <% end %>
           </div>
          </div> 
    <% end %>
  </body>
</html>
