

<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){   
        $("#products_id").click(function () { 
          var str ="";
           $('#products_id option:selected').each(function(){
              str+=$(this).text() + " <br><br>Price Per Item : <input type='text' id=price_"+$(this).val()+" class='form-control' readonly> <br> <br> Qantity: <input type='text' id=quantity_"+$(this).val()+" class='col-sm-3 form-control quantity_key_event' required placeholder='Enter the Product Quantity'> <br><br>";
           }); 
          document.getElementById("myHeader").innerHTML= str;

            $('#products_id option:selected').each(function(){

                val1=document.getElementById("h_"+$(this).val()).value;
                document.getElementById("price_"+$(this).val()).value=val1;
            });
            document.getElementById("order_amount").value=0 ;
            document.getElementById("order_order_value").value=0 ;
            
        });
         $('.quantity_key_event').live('keyup' ,function(event)
         {  
                 if(event.keyCode != 8)
                  {
                    doMath($(this).val() , this.id , 1);  
                  }  
          });

            $('.quantity_key_event').live('keydown' ,function(event)
            {  
                if(event.keyCode == 8)
                  {
                    doMath($(this).val() , this.id , 2);
                  }               
            });
      });
        function  doMath(product_quantity ,quantity_id ,no) { 
          
          var price = quantity_id.split('quantity_');
          var price_id = "price_"+price[1];
          var product_price; var amount=0;
          var total_quantity = document.getElementById("order_order_value").value
          amount = document.getElementById("order_amount").value;   
         product_price = document.getElementById(price_id).value;  

            if(no==1)
            {
                amount=(parseInt(amount)+(parseInt(product_quantity)*parseInt(product_price)));
                total_quantity= (parseInt(total_quantity)+ parseInt(product_quantity))
            }
            else
            {
                alert(product_quantity);
                amount=(parseInt(amount)-(parseInt(product_quantity)*parseInt(product_price)));
                document.getElementById(quantity_id).value=0 ;
                total_quantity= (parseInt(total_quantity)-parseInt(product_quantity))
            }        
                 
         document.getElementById("order_amount").value=amount ;
         document.getElementById("order_order_value").value=total_quantity;
      }
        
    </script>
    <title></title>
  </head>
  <body>
    <%= form_for(@order) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field form-group">
        <div class="col-sm-10"> 
            <%= f.collection_select(:customer_id ,  Customer.all , :id ,   :fname,  :prompt => 'Select Customer') %>  
        </div>
      </div>
      <br><br><br>
                
                <% @all_products.each do |product| %>
                  <%= hidden_field_tag "h_#{product.id}" , product.price %>
                <% end %>

      <div class="field form-group">

        <%= fields_for(@order_line) do |ab| %>

        <%= ab.label "All Products" , class: 'col-sm-2 control-label' %><br><br>
        <div class="col-sm-6">
          <%= collection_select(:products, :id , @all_products , :id, :product_name , {:required => true} , {:multiple => true , class: 'form-control'}) %> 
          </div> 
        <% end %>   
      </div>
      <br><br><br><br>

       <font color="blue"><strong><p id="myHeader">Please Select Products</p></strong></font>
       <br><br><br>

      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.number_field :order_no ,class: 'form-control' , :placeholder=>'Enter the Order Number' , required: true%>
         </div>
          </div>
          <br><br><br>

     <div class="field form-group">
            <div class="col-sm-6">
        <%= f.number_field :tracking_no ,class: 'form-control' , :placeholder=>'Enter the Tracking number' , required: true%>
         </div>
          </div>
          <br><br><br>

      <div class="field">
        
        <%= f.hidden_field :delivery_date,  value: Time.now + 7.days %>
      </div>



      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.text_field :order_value ,class: 'form-control' , value: '0' ,  :placeholder=>'Enter the Order Value' , required: true , readonly: true%>
         </div>
          </div>
          <br><br><br>


      <div class="field form-group">
            <div class="col-sm-6">
        <%= f.text_field :amount ,class: 'form-control' ,  value: '0' , :placeholder=>'Enter the Amount' , readonly: true , required: true%>
         </div>
          </div>
          <br><br><br>


        <div class="field form-group">
            <%=  f.label :delivery_type  , class: 'col-sm-3 control-label'%><br><br>
            <div class="col-sm-6">
              <%= f.radio_button :delivery_type, "Is Express Delivery" ,required: true %>  Is Express Delivery<br>
              <%= f.radio_button :delivery_type, "Is customer Pickup" ,required: true %>  Is customer Pickup
          </div>
        </div>
        <br><br>

     

       <div class="actions form-group">
            <div class="col-sm-offset-3 col-sm-3">
              <%= f.submit "Create Order" , class: "btn btn-primary btn-block btn-lg" %>
            </div>
          </div>
    <% end %>
  </body>
</html>
