<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--script src="//code.jquery.com/jquery-1.10.2.js"></script-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript">
  $(function() {
    $( "#mydatepicker" ).datepicker();
  });

   
  function  doMath() { 
       var nValue; var amount;
       var price=100;
       nValue = document.getElementById("quantity").value;
       price = document.getElementById("price").value;
       //price = 100;
       amount=(nValue*price);
       document.getElementById("amount").value=amount ;
    }

  </script>


  </head>
  <body>

      <%= image_tag @product.image(:medium) %>

      <div class="panel panel-primary">
      <div class="panel-heading"><h1>New Order</h1></div>
      <div class="panel-body">

          <%= form_for [@product , @order] , :name => "addamount" , :id =>"addamount"  do |f| %>
  

              <%= f.hidden_field :product_id , value: @product.id %>
              <%= f.hidden_field :delivery_date , value: Time.now + 10.days %>
               <%= f.hidden_field :status , value: "pending" %>

              <div class="field form-group">
                <div class="col-sm-10">
                  <b>Available Items: </b>  <%= @product.quantity %>
                </div>
              </div>
              <br><br><br>

              <div class="field form-group">
              <div class="col-sm-3">
                <%= f.label :quantity ,class: 'col-sm-1 control-label'%>
                    <%= f.number_field :quantity  , value: '1' , class: 'form-control' , id: "quantity" , onkeyup: "doMath()" , :placeholder=>'Enter the product Name' , required: true %>
                  </div>
              </div>
              <br><br><br>

            <div class="field form-group">
              <div class="col-sm-3">
               Per Items Price: Rs.<%= number_field_tag "price" , nil, value: @product.price ,class: 'form-control',name: "price" , id: "price" , :disabled => true %>
              </div>
            </div>
            <br><br><br>

            <div class="field form-group">
              <div class="col-sm-3">
                Total Amount: Rs. <%= f.number_field "amount" , value: @product.price ,class: 'form-control' , id: "amount" ,:readonly => true %>
              </div>
            </div>
            <br><br><br>

            <hr class="colorgraph">
                 <% current_customer.shipping_addresses.each do |address| %>
                    <div class="jumbotron">
                        <div class="field form-group">
                          <div class="col-sm-8">
                            <%= f.radio_button :shipping_address_id , address.id  %> Deliver to this Address
                          </div>
                        </div>
                        <br><br>
                      City:  <%= address.city %><br>
                      District: <%= address.district %><br>
                      State: <%= address.state %><br>
                      Postal Code: <%= address.pincode %><br>
                      Country: <%= address.country %><br>
                    </div>
                 <% end %> 
            </hr>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>



      </div>
    </div>


</body>
</html>
