<div class="jumbotron">
<p>
  <strong>Order no:</strong>
  <%= @order.order_no %>
</p>

<p>
  <strong>Tracking no:</strong>
  <%= @order.tracking_no %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Order value:</strong>
  <%= @order.order_value %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @order.delivery_type %>
</p>

<br><br><br>
  <%= link_to root_path , :style=>'color:#FFFFFF;', class: "btn btn-success" do%>
    <i class="glyphicon glyphicon-home"></i>Home
  <% end %>

</div>