<p id="notice"><%= notice %></p>

<p>
  <strong>Order no:</strong>
  <%= @order.order_no %>
</p>

<p>
  <strong>Tracking no:</strong>
  <%= @order.tracking_no %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Order value:</strong>
  <%= @order.order_value %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @order.delivery_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
