
<html>
<head>
  <title></title>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
        $(function(){

          $("#deliver_address_0").click(function(){
            //#alert($(this).val());
            document.getElementById("deliver_address_0").checked = true;
            document.getElementById("deliver_address_1").checked = false;
          });
          $("#deliver_address_1").click(function(){
            //#alert($(this).val());
            document.getElementById("deliver_address_1").checked = true;
            document.getElementById("deliver_address_0").checked = false;
          });


      });

       

    </script> -->

</head>
<body>


    <%#= f.radio_button "deliver_address" ,  "true" , :id => "deliver_address_#{f.index}"  %> 
  <div class="field form-group">
    <div class="col-sm-10">
      <%= f.text_field :city ,  class: 'form-control' , :placeholder=>'Enter the City' %>
  </div>
  </div>
  <br><br><br>

  <div class="field form-group">
    <div class="col-sm-10">
   
    <%= f.text_field :district ,  class: 'form-control' , :placeholder=>'Enter the District' %>
  </div>
  </div>
  <br><br><br>

  <div class="field form-group">
    <div class="col-sm-10">
    
    <%= f.text_field :state ,  class: 'form-control' , :placeholder=>'Enter the State'  %>
  </div>
  </div>
  <br><br><br>

  <div class="field form-group">
    <div class="col-sm-10">
    <%= f.country_select :country , class: 'form-control' ,  prompt: "Please Select Country" %>
  </div>
  </div>
  <br><br><br>

  <div class="field form-group">
    <div class="col-sm-10">
    <%= f.number_field :pincode ,  class: 'form-control' , :placeholder=>'Enter the Pincode'  %>
  </div>
  </div>
  <br><br><br>

  </body>
</html>

