<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
  <div class="col-sm-10">
  
     <%= f.collection_select(:category_id ,  Category.all , :id ,   :category_name,  :prompt => 'Select Category') %>   
  </div>
</div>
<br><br><br>
  <div class="field form-group">
  <div class="col-sm-10">
     <%= f.collection_select(:company_id,  Company.all, :id ,  :company_name, :prompt => 'Select Company') %>   
  </div>
</div>
<br><br><br>

  
  <div class="field form-group">
  <div class="col-sm-8">
    <%= f.text_field :product_name  , class: 'form-control' , :placeholder=>'Enter the product Name' , required: true %>
   </div>
</div>
<br><br><br>


  <div class="field form-group">
  <div class="col-sm-8">
   
    <%= f.text_area :description , class: 'form-control' , :placeholder=>'Enter the product description' , required: true %>
     </div>
</div>
<br><br><br>


 <div class="field form-group">
  <div class="col-sm-8">
    <%= f.text_field :price ,  class: 'form-control' , :placeholder=>'Enter the product Price' , required: true%>
   </div>
</div>
<br><br><br>

  <div class="field form-group">
  <div class="col-sm-8">
    <%= f.number_field :quantity , class: 'form-control' , :placeholder=>'Enter the product quantity' , required: true%>
  </div>
</div>
<br><br><br>

  <div class="field form-group">
  <div class="col-sm-8">
    <%= f.text_field :sku , class: 'form-control' , :placeholder=>'Enter the product sku' , required: true%>
 </div>
</div>
<br><br><br>
  


   <div class="field form-group">
  <div class="col-sm-8">
    <%= f.number_field :lehgth ,class: 'form-control' , :placeholder=>'Enter the product lehgth' , required: true%>
   </div>
</div>
<br><br><br>

    <div class="field form-group">
      <div class="col-sm-8">
        <%= f.number_field :width ,class: 'form-control' , :placeholder=>'Enter the product width' , required: true%>
      </div>
    </div>
<br><br><br>

    <div class="field form-group">
  <div class="col-sm-8">
    <%= f.number_field :hieght ,class: 'form-control' , :placeholder=>'Enter the product hieght' , required: true%>
   </div>
</div>
<br><br><br>

    <div class="field form-group">
  <div class="col-sm-8">
    <%= f.number_field :weight ,class: 'form-control' , :placeholder=>'Enter the product weight' , required: true%>
  </div>
</div>
<br><br><br>

 <div class="field form-group">
  <div class="col-sm-10">
<%= f.file_field :image , :placeholder=>'Select Image' , required: true %>
</div>
</div>
<br><br><br>

  <div class="actions form-group">
    <div class="col-sm-offset-1 col-sm-5">
      <%= f.submit  class: "btn btn-success"  %>
    </div>
  </div>
<% end %>
