<p id="notice"><%= notice %></p>

<p>
 <h2><%= @product.category.category_name %></h2>
</p>

<p>
  <%= image_tag @product.image %>
</p>


<p>
  <strong>Company:</strong>
  <%= @product.company.company_name %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <ul>
      <% @product.description.split(',').each do |separate_description| %>
        <li> <%= separate_description %></li><br>
      <% end %>
  </ul>
</p>

<p>
  <strong>Price:</strong>
   Rs. <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>




<%= link_to   product_cart_create_path(@product), class: 'btn btn-warning' do %>
  <i class="glyphicon glyphicon-plus"></i> Add to Cart
<% end %>

<%= link_to new_product_order_path(@product), class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-plus"></i> Buy Now
<% end %>

<hr class="colorgraph">
<h3><%= @product.category.category_name %> releated Product</h3>
<% @products.each do |product| %>

    <% if product.id == @product.id %>
        <%= image_tag(product.image(:medium)) %>
    <% else  %>

    <%= link_to "#{image_tag(product.image(:medium))}".html_safe, product %>
      <% end %>
       
    <% end %>
</hr>



<%#= link_to 'Edit', edit_product_path(@product) %> 
<%#= link_to 'Back', products_path %>
