<p id="notice"><%= notice %></p>
 <div class="jumbotron">

 <p>
    <%= image_tag @product.image(:medium) %>
    </p>
<p>
  <strong>Category:</strong>
  <%= @product.category.category_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company.company_name %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Lehgth:</strong>
  <%= @product.lehgth %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Hieght:</strong>
  <%= @product.hieght %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>


<%= link_to  products_path , :style=>'color:#FFFFFF;', class: "btn btn-success" do%>
<i class="glyphicon glyphicon-chevron-left"></i>Back
        <%end%>

</div>
