<!DOCTYPE html>
<html>
<head>
  <title>Assigmnent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
</head>
<body>

<div class="header">
    <%= render 'shared/navigation' %>
</div>
<br><br>
<div class="container">
	<div class ="center">

	<% flash.each do |name, msg| %>
		<script>
  			swal("Good job!", "<%= msg %>", "success")
  		</script>
	<% end %>
	    
		<%= yield %>

		
	</div>
</div>
</body>
</html>
